<template>
  <div id="contact">
    <p>
      V-Time is located in Temecula, California. Contact us to place an order or for any questions you may have.
    </p>
    Phone: <a :href="'tel:' + phone">{{ phone }}</a>
    <br>
    Email: <a :href="'mailto:' + email">{{ email }}</a>
  </div>
</template>
<script>
  export default {
    name: 'contact',
    data: function() {
      return {
        phone: '+1-951-375-7579',
        email: 'walt@v-time.com'
      }
    }
  };
</script>
