<template>
  <component :is="currentProduct"></component>
</template>
<script>
  import VTimeStandard from './wall-art/vTimeStandard.vue';
  import DragTime from './wall-art/dragTime.vue';
  import FullOnNeon from './wall-art/fullOnNeon.vue';
  import VTimeClassic from './wall-art/vTimeClassic.vue';
  import NightTrain from './wall-art/nightTrain.vue';

  export default {
    name: 'description',
    props: ['pathName', 'componentName'],
    data: function () {
      return {
        currentProduct: this.componentName
      }
    },
    components: {
      VTimeStandard,
      DragTime,
      FullOnNeon,
      VTimeClassic,
      NightTrain
    }
  }
</script>