<template>
  <div id="header">
      <div class="row">
        <div class="col-auto mr-auto mt-auto mb-auto">
          <h1 class="font-italic" style="font-size: 500%;">V-Time</h1>
        </div>
        <div class="col-auto ml-auto">
          <img src="wall-art/classic-thumb.jpeg" width="300">
        </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- TODO: Add active class -->
          <li class="nav-item">
            <router-link class="nav-link" :to="'/'">Home</router-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <router-link class="dropdown-item" :to="'wall-art'">Wall art</router-link>
              <router-link class="dropdown-item" :to="'point-covers'">Point covers</router-link>
            </div>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="'contact'">Contact</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
  export default {
    name: 'header'
  };
</script>
