<template>
  <div id="home">
    <div>
      <p>
        V-Time is a company that derived from alterdyne.net Alterdyne is in the business of designing and producing fine vehicles and products. The idea for V-Time originated ten years ago when Alterdyne was doing a studio project that involved a number of motorcycles constructed of fiberglass.We made the motorcycles constructed of fiberglass.We made the motors in two halves and bonded them together.While doing this we thought how cool it would look if we hung half a motor on the wall. The rest is history.
        We originally produced our V-Time units by rotational molding (a low production form of manufacturing parts). Now, due to large demand we have invested in injection tooling to make a nicer, cleaner product.
      </p>
      <p>
        All manufacturing is done in the U.S.A. This is very important to us due to all the manufacturing jobs sent overseas. To avoid high cost, we both manufacture and retail our products (no wholesalers or distributors) and pass the savings onto our customers.
      </p>
      All our units can be ordered with compatible transformer and plug configuration for any country in the world and also be shipped anywhere in the world. To avoid high shipping cost for oversea shipments we suggest combining an order with a number of units and sending it by freight. We are able to freight units right from our door. Doing this eliminates distributors and wholesalers and passes the savings to the consumer.
      <p>
        We are in the process of obtaining a UL listing for our products. Due to it being a lengthy process we are not sure when this will be complete and will post its approval here when it takes place.
      </p>
      <p>
        Whether you purchase one of our units as a way to tell time or to create a unique form of lighting we think you will be very happy with the end result of your purchase. Thanks for visiting our website. Please contact us if you should have any questions.
      </p>
    </div>

  </div>
</template>
<script>
  export default {
    name: 'home'
  };
</script>