<template>
  <div id="point-covers">
    <div class="row mb-3">
      <div class="col-3">
        <product :name="'Cover 1'" :price="'$48'" :image="'point-cover/01-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 2'" :price="'$48'" :image="'point-cover/02-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 3'" :price="'$48'" :image="'point-cover/03-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 4'" :price="'$48'" :image="'point-cover/04-thumb.jpeg'" :hideLink="true"></product>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <product :name="'Cover 5'" :price="'$48'" :image="'point-cover/05-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 6'" :price="'$48'" :image="'point-cover/06-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 7'" :price="'$48'" :image="'point-cover/07-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 8'" :price="'$28'" :image="'point-cover/08-thumb.jpeg'" :hideLink="true"></product>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <product :name="'Cover 9'" :price="'$28'" :image="'point-cover/09-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 10'" :price="'$48'" :image="'point-cover/10-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 11'" :price="'$48'" :image="'point-cover/11-thumb.jpeg'" :hideLink="true"></product>
      </div>
      <div class="col-3">
        <product :name="'Cover 12'" :price="'$63'" :image="'point-cover/12-thumb.jpeg'" :hideLink="true"></product>
      </div>
    </div>
  </div>
</template>
<script>
  import Product from './productCard.vue';

  export default {
    name: 'pointCovers',
    components: {Product}
  }
</script>