<template>
  <div class="card">
    <img class="card-img-top" :src="image" :alt="name">
    <div class="card-body">
      <h4 class="card-title">{{ name }}</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <template v-if="price">
            <span class="font-weight-bold">Price: </span>
            <span>{{ price }}</span>
            <br>
          </template>
          <template v-if="dimensions">
            <!-- TODO: Add popover for dimensions info -->
            <span class="font-weight-bold">Dimensions: </span>
            <span>{{ dimensions.height }} x {{ dimensions.width }} x {{ dimensions.depth }}</span>
            <br>
          </template>
          <template v-if="!hideLink">
            <router-link :to="productUrl" append>Description</router-link>
          </template>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'product',
    props: {name: '', dimensions: '', price: '', image: '', componentName: '', hideLink: false},
    computed: {
      productUrl() {
        return {
          name: 'wallArt', params: {
            pathName: this.name.replace(/ /g, '-').toLowerCase(),
            componentName: this.componentName
          }
        };
      }
    }
  };
</script>