<template>
  <div class="row">
    <div class="col">
      <img :src="image">
    </div>
    <div class="col mt-auto mb-auto">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <slot name="text"></slot>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-block" @click="wallArtNav()">Back to Wall Art</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'productDescription',
    props: ['image'],
    methods: {
      wallArtNav: function () {
        this.$router.push('/wall-art');
      }
    }
  }
</script>