<template>
  <div id="wall-art">
    <div class="row">
      <div class="col">
        <p>
          All V-Time products feature the following:
        </p>
        <ul>
          <li>
            Full-size engine assembled from fifteen precision-made injection-molded ABS components.
          </li>
          <li>
            Matte-black finish on engine crankcase. Other engine parts finished in gleaming vacuum-metallized chrome plating.
          </li>
          <li>
            Genuine Zambini custom skull-design polished cast-aluminum points cover. Can easily be changed to stock or other custom points cover.
          </li>
          <li>
            Air cleaner bezel fitted with a convex glass lens, and is easily removed to install other artwork on clock-face (custom, personal or business-related).
          </li>
        </ul>
        <p>
          All V-Time neon-equipped products also share the following features:
        </p>
        <ul>
          <li>
            Only old-school “classic colors” neon is utilized for the primary neon elements, for very rich and vibrant color.
          </li>
          <li>
            Neon units operate on standard 115-volt AC power. High-quality AC clock movement (U.S. made), easily adjustable at the front of the unit.
          </li>
          <li>
            Optional neon transformer, power cord and clock movement configurations for use in any country in the world.
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <product :name="'V-Time Standard'" :dimensions="{height: 21.5, width: 20, depth: 9.25}" :price="'$299'"
                 :image="'wall-art/standard-thumb.jpeg'" :componentName="'vTimeStandard'">
        </product>
      </div>
      <div class="col-4">
        <!-- TODO: Add additional pricing -->
        <product :name="'Drag Time'" :dimensions="{height: 23, width: 32.5, depth: 9.25}" :price="'$599'"
                 :image="'wall-art/drag-time-thumb.jpeg'" :componentName="'dragTime'">
        </product>
      </div>
      <div class="col-4">
        <product :name="'Full On Neon'" :dimensions="{height: 22.5, width: 21, depth: 9.25}" :price="'$699'"
                 :image="'wall-art/full-on-neon-thumb.jpeg'" :componentName="'fullOnNeon'">
        </product>
      </div>
    </div>
    <div class="row">
      <div class="col-4 ml-auto">
        <product :name="'V-Time Classic'" :dimensions="{height: 23, width: 45.5, depth: 9.25}" :price="'$1299'"
                 :image="'wall-art/classic-thumb.jpeg'" :componentName="'vTimeClassic'">
        </product>
      </div>
      <div class="col-4 mr-auto">
        <product :name="'Night Train'" :dimensions="{height: 21.5, width: 20, depth: 9.25}"
                 :price="'Not currently available'"
                 :image="'wall-art/night-train-thumb.jpeg'" :componentName="'nightTrain'">
        </product>
      </div>
    </div>
  </div>
</template>
<script>
  import ProductCard from "./productCard.vue";
  import ProductDescription from "./descriptionHandler.vue";

  export default {
    name: 'wallArt',
    components: {Product: ProductCard, Description: ProductDescription}
  };
</script>
