<template>
  <product-description :image="image">
    <div slot="text">
      Drag Time™ offers the same basic features of our V-time Standard ™, plus 2 inch diameter shorty “drag pipes” formed from 16 gauge steel tubing by Bassani Manufacturing, makers of genuine Bassani Xhaust® systems for high-performance motorcycles. They feature show-quality chrome plating, and are rigidly mounted to the unit (no assembly required). Drag Time™ is available with a battery-operated clock movement (as shown), or with a neon-illuminated Zambini polished 3-D skull-design clock face, and 115 volt AC-powered clock movement.
    </div>
  </product-description>
</template>
<script>
  import ProductDescription from "../productDescription.vue";

  export default {
    components: {ProductDescription},
    name: 'dragTime',
    data: function () {
      return {
        image: 'drag-time.jpeg'
      }
    }
  }
</script>
