<template>
  <product-description :image="image">
    <div slot="text">
      In addition to the basic features of the V-time Standard ™, our Full On Neon™ adds neon around the perimeter of the engine, and inside of the air cleaner (clock housing). It’s an impressive ”centerpiece” display for a den, game room, or garage. Neon is controlled by a pull-chain on/off switch. Unit features a premium-quality 115 volt AC-powered clock movement (U.S. made), and Zambini polished 3-D skull-design clock face. Optional neon transformers, power cords and clock movements for use in any country in the world.
    </div>
  </product-description>
</template>
<script>
  import ProductDescription from "../productDescription.vue";

  export default {
    components: {ProductDescription},
    name: 'fullOnNeon',
    data: function () {
      return {
        image: 'full-on-neon.jpeg'
      }
    }
  }
</script>
