<template>
  <product-description :image="image">
    <div slot="text">
      Neon is concealed inside of the translucent engine cylinders to produce a colorful glow that illuminates the edge of each fin on the cylinders, for a truly unique look! Many customers choose red or blue neon highlighting the cylinders, with the alternate color illuminating the clock face. Or choose vibrant orange to illuminate both the cylinders and clock face! Equipped with the same great features as our other neon units: Zambini polished 3-D skull-design clock face, U.S. made AC-powered clock movement, and neon on/off switch. It also makes a great night light!
    </div>
  </product-description>
</template>
<script>
  import ProductDescription from "../productDescription.vue";

  export default {
    components: {ProductDescription},
    name: 'nightTrain',
    data: function () {
      return {
        image: 'night-train.jpeg'
      }
    }
  }
</script>
