<template>
  <product-description :image="image">
    <div slot="text">
      Full-size V-Twin replica, assembled from fifteen precision-made injection-molded ABS components. Matte-black finish on engine crankcase. Other engine parts finished in gleaming vacuum-metallized chrome plating. Genuine Zambini custom skull-design polished cast-aluminum points cover (can easily be changed to stock or other custom points cover). The battery-powered clock movement (made by Seiko) means no power cord required - hang it anywhere! Clock bezel is fitted with a convex glass lens, and is easily removed to install other artwork (custom, personal or business-related).
    </div>
  </product-description>
</template>
<script>
  import ProductDescription from "../productDescription.vue";

  export default {
    components: {ProductDescription},
    name: 'vTimeStandard',
    data: function () {
      return {
        image: 'standard.jpeg'
      }
    }
  }
</script>