<template>
  <product-description :image="image">
    <div slot="text">
      V-time Classic™ features high-quality chrome-plated exhaust pipes formed by Bassani, like those on our Drag Time™ unit, but 4 inches longer, for truly impressive proportions. Neon illuminates the perimeter of the engine, inside the air cleaner (clock housing), and at the tip of each exhaust pipe. V-time Classic™ comes standard with genuine Zambini custom skull-design polished cast-aluminum points cover and adds a matching Zambini air cleaner insert mounted behind the convex glass lens. Operates on 115-volt AC power. Neon is controlled by a pull-chain on/off switch. An AC-powered clock movement (U.S. made) is available for a small additional charge. We have optional neon transformers, power cords, and clock movements for use in any country in the world.
    </div>
  </product-description>
</template>
<script>
  import ProductDescription from "../productDescription.vue";

  export default {
    components: {ProductDescription},
    name: 'vTimeClassic',
    data: function () {
      return {
        image: 'classic.jpeg'
      }
    }
  }
</script>
